%Roboto-700 {
    font-family: "Roboto-700", sans-serif;
    font-weight: 700;
}

%Roboto-500 {
    font-family: "Roboto-500", sans-serif;
    font-weight: 500;
}

%Roboto-400 {
    font-family: "Roboto-400", sans-serif;
    font-weight: 400;
}


%Roboto-300 {
    font-family: "Roboto-300", sans-serif;
    font-weight: 300;
}